<html layout:decorate="~{patient/patient_layout}">
<div layout:fragment="content" class="container">
    <div class="header-listbox">
        <h2 class="listbox">Patient List <span class="sub_title">환자 리스트</span></h2>
        <div class="multi-condition-search-button">
            <span class="input-text">다중조건으로 검색가능합니다.(단축키 F10) </span>
            <a type="button" class="search_btn card" id="btn_search" onclick="toggleSearchForm()"><span>다중조건검색</span></a>
        </div>
    </div>
        <!--
    <div style="display:flex; align-items:baseline; gap:20px;">
        <h3 class="listbox" style="margin:0;">Patient List</h3>
        <h7 style="margin:0;">환자 리스트</h7>
    </div>
    -->
    <!-- 🔍 검색 영역 시작 -->

    <!-- 🔍 검색 영역 끝 -->
    <div class="patient-list-header d-flex flex-wrap justify-content-between align-items-center mt-3">
        <form class="patient-totalnum" method="get" action="/patient/list">
            <!-- <form method="get" action="/patient/list" class="size_bar d-flex align-items-center mb-2 mb-md-0"> -->
            <!-- <div class="d-flex align-items-center"> -->
                <strong class="me-1">등록건수:</strong><span th:text="${patients.totalElements}"></span><span>명 /</span>
                <strong class="mx-1">현재페이지:</strong><span th:text="${patients.number+1}"></span><span> /</span>
                <strong class="mx-1">페이지당 행 수:</strong>
                <!--<label for="size">Row counter:</label> -->
                <input type="hidden" name="page" value="0" />
                <select name="size" id="size" onchange="this.form.page.value='0'; this.form.submit();">
                    <option th:value="5" th:selected="${size == 5}">5</option>
                    <option th:value="10" th:selected="${size == 10}">10</option>
                    <option th:value="20" th:selected="${size == 20}">20</option>
                </select>
            <!--  </div> -->
        </form>
        <form method="get" action="/patient/simplesearch" class="d-flex align-items-center">
            <input type="hidden" id="page" name="page" th:value="${currentPage}">
            <input type="hidden" name="size" th:value="${size}" />
            <div class="search_box row">
                <div>
                    <div class="input-group">
                        <span class="input-text">성명 이름/보호자 연락처 뒷자리/휴대전화 뒷자리 검색가능</span>
                        <input type="text" id="simplesearch_kw" class="form-control" th:value="${kw}" name="kw"  style="margin-left:5px;"/>
                        <button class="search_btn" type="submit" id="btn_search">검색</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="card my-3" style="width:100%; border: 0 solid white;">
            <!--
            <button type="button" class="search_btn card" id="btn_search" onclick="toggleSearchForm()"><span>검색하기</span></button>
            -->

            <form id="searchForm" method="get" action="/patient/search" class="card p-3" style="display:none;">
                <input type="hidden" name="page" th:value="${currentPage}">
                <input type="hidden" name="size" th:value="${size}" />
                <div id="searchConditions">
                    <!-- 🔹 검색 조건 한 줄 -->
                    <div class="search-row row mb-2" style="font-size:12px;">
                        <div class="col-8 col-md-3">
                            <select name="column[]" class="form-select" onchange="updateOperatorOptions(this)">
                                <option value="">컬럼 선택</option>
                                <option value="lastName">성명 성</option>
                                <option value="firstName">성명 이름</option>
                                <option value="gender">성별</option>
                                <option value="dayOfBirth">생년월일</option>
                                <option value="foreigner">내/외국인</option>
                                <option value="mobilePhone">휴대전화(뒷4자리)</option>
                                <option value="guardianTel">보호자전화(뒷4자리)</option>
                                <option value="createDate">최초등록일</option>
                                <option value="lastVisitDate">최종방문일</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <select name="operator[]" class="form-select">
                                <option value="=">=</option>
                                <option value="like">포함</option>
                                <option value=">">></option>
                                <option value="<"><</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <input type="text" name="value[]" class="form-control" placeholder="값 입력">
                        </div>

                        <div class="col-md-2">
                            <select name="logicalOperator[]" class="form-select">
                                <option value="AND">AND</option>
                                <option value="OR">OR</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" onclick="addConditionRow()">+</button>
                            <button type="button" class="btn btn-danger" onclick="removeConditionRow(this)">-</button>
                        </div>
                    </div>
                </div>

                <div class="text-end">
                    <button type="submit" class="search_btn"><span>검색실행</span></button>
                </div>
            </form>

        </div>
    </div>

    <form name="selectedPatient" th:action="@{/patient/delete/selectedPatient}" method="post">
        <input type="hidden" name="page" th:value="${currentPage}" />
        <input type="hidden" name="size" th:value="${size}" />
        <table class="table table-hover card listTable">
            <thead class="table-light">
            <tr class="list text-center">
                <th class="chang-checkbox-column" style="width:50px;"><input type="checkbox" name="checkedAllIds" value="t"/></th>
                <th class="lee-checkbox-column">번호</th>
                <th>성명</th>
                <th>성별</th>
                <th>생년월일</th>
                <th  class="mobail_hidden">내/외국인</th>
                <th>휴대전화</th>
                <th  class="mobail_hidden">보호자 연락처</th>
                <th  class="mobail_hidden">최종 방문일</th>
                <th  class="mobail_hidden">등록일</th>
            </tr>
            </thead>

            <tbody class="text-center">
            <tr class="text-center" th:each="patient,  loop : ${patients}">
                <td class="chang-checkbox-column" style="width:50px;"><input type="checkbox" class="patient-checkbox" th:name="checkedIds" th:value="${patient.id}" /></td>
                <td class="lee-checkbox-column" th:text="${patients.totalElements - (patients.number * patients.size) - loop.index}" style="width:100px;" ></td>
                <!--
                <td class="mobail_hidden" th:text="${patient.id}"></td>
                -->
                <td>
                    <a class="name_hover" th:href="@{|/patient/detail/${patient.id}|}" th:text="${patient.name}"></a>
                </td>
                <td th:text="${patient.gender}"></td>
                <td th:text="${#temporals.format(patient.birth,'yyyy-MM-dd')}"></td>
                <td class="mobail_hidden" th:text="${patient.foreigner == '1' ? '외국인' : '내국인'}"></td>
                <td th:text="${patient.mobilePhone}"></td>
                <td class="mobail_hidden" th:text="${patient.guardianTel}"></td>
                <td class="mobail_hidden" th:text="${#temporals.format(patient.lastVisitDate,'yyyy-MM-dd')}"></td>
                <td class="mobail_hidden" th:text="${#temporals.format(patient.createDate,'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
    </form>

        <div class="page-navigation">
            <!-- 페이지 이동버튼 시작-->
            <div class="pagination">
                <form id="patientForm" method="post" action="/patient/search">
                    <input name="size" type="hidden" th:value="${size}" >
                    <!--<input name="page" type="text" th:value="${page}" hidden="hidden">-->
                    <input type="hidden" name="page" th:value="${currentPage}" />
                </form>
                <a th:if="${currentPage > 0}" th:href="@{|?page=${currentPage-1}&size=${size}|}">이전</a>
                <a th:each="pageNum : ${pageNumbers}"
                   th:if="${pageNum >= currentPage-3 and pageNum <= currentPage+3}"
                   th:href="@{|?page=${pageNum}&size=${size}|}"
                   th:text="${pageNum+1}"
                   th:class="${(pageNum == currentPage) ? 'active-page' : ''}"></a>

                <a th:if="${currentPage < totalPages-1}" th:href="@{|?page=${currentPage+1}&size=${size}|}">다음</a>
            </div>

            <!--검색폼 숨김-->

            <!-- 페이지 이동버튼 끝-->

            <!-- 이전 버전 페이징처리 시작 -->
            <!--
            <div class="page" th:if="${!patients.isEmpty()}">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${!patients.hasPrevious} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{|?page=${patients.number-1}&size=${size}|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, patients.totalPages-1)}"
                        th:if="${page >= patients.number-3 and page <= patients.number+3}"
                        th:classappend="${page == patients.number} ? 'active'"
                        class="page-item">
                        <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}&size=${size}|}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!patients.hasNext} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${patients.number+1}&size=${size}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>

                이전버전 페이징처리 끝 -->
                <div class="create">
                    <a th:href="@{/patient/create}" class="button-link">등록</a>
                    <a href="#" class="button-link text-full" id="deleteSelectedBtn" onclick="submitFormIfValid()">선택삭제</a>
                    <!-- 이전버전 선택삭제 버튼
                    <a href="#" class="button-delete button-link text-full" onclick="submitFormIfValid();">선택삭제</a>
                    이전버전 선택삭제 버튼-->
                </div>
            </div>

        </div>
</div>
</html>
