<html lang="kr" layout:decorate="~{personnel/personnel_layout}">
<div layout:fragment="content" class="container">
    <h2 class="listbox">Reference Personnel List</h2>
    <div id="personnel-list"> <!-- 여기에 서버에서 받아온 리스트 HTML이 들어갑니다 -->
        <form method="get" action="/user/list">
            <div class="mb-3">
                <b>등록 건수: </b><span th:text="${totalNum}"></span>명 /
                <b>현재 페이지: </b><span th:text="${currentPage}"></span> /
                <b>페이지당 행수: </b><!--<span th:text="${size}"></span>-->
                <!--<label for="size">Row counter:</label>-->
                <span>
                <select name="size" id="size" onchange="this.form.submit();">
                    <option th:value="5" th:selected="${size == 5}">5</option>
                    <option th:value="10" th:selected="${size == 10}">10</option>
                    <option th:value="20" th:selected="${size == 20}">20</option>
                    <input type="hidden" name="page" value="1" />
                </select>
                </span>
            </div>
        </form>
        <form name="selectedPersonnel" th:action="@{/delete/selectedPersonnel}" method="post">
            <input type="hidden" name="page" th:value="${page}" />
            <input type="hidden" name="size" th:value="${size}" />
        <table class="table table-hover card listTable">

            <thead class="table-light">
                <!--<tr class="list text-center">-->
                <tr>
                    <th class="chang-checkbox-column"><input type="checkbox" name="checkedAllIds" value="t" /></th>
                    <th class="chang-checkbox-column">순번</th>
                    <th class="chang_text_center">국적</th>
                    <th class="chang_text_center">성명</th>
                    <th class="chang_text_center">이메일</th>
                    <th class="chang_text_center">휴대전화</th>
                    <th class="chang_text_center">등록자</th>
                    <th class="chang_text_center">등록일시</th>
                </tr>
            </thead>
            <tbody><!-- class="text-center"-->
                <tr th:each="personnel : ${referencePersonnels}">
                    <td class="chang-checkbox-column"><input type="checkbox" th:name="checkedIds" th:value="${personnel.id}"/></td>
                    <!--<td class="chang-checkbox-number" th:text="${personnel.currentNum}"></td>-->
                    <td class="chang-checkbox-column" th:text="${personnel.currentNum}"></td>
                    <td class="chang_text_center" th:text="${personnel.nationality}"></td>
                    <td class="chang_text_center">
                        <a th:if="${personnel.id != null}"
                           th:href="|/user/detail/${personnel.id}?size=${size != null ? size : 10}&page=${currentPage != null ? currentPage : 1}|"
                           th:text="${personnel.middleName != null && personnel.middleName != ''
                     ? personnel.lastName + ' ' + personnel.middleName + ' ' + personnel.firstName
                     : personnel.lastName + ' ' + personnel.firstName}"></a>
                    </td>
                    <td  class="chang_text_center" th:text="${personnel.email}"></td>
                    <td class="chang_text_center" th:text="${personnel.cellPhone}"></td>
                    <td class="chang_text_center" th:text="${personnel.creator ?: '미지정'}"></td>
                    <td class="chang_text_center" th:text="${#temporals.format(personnel.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>

        </table>
        </form>
        </div><!-- end of personnel-list-->
    <div class="page-navigation">
        <div class="pagination">
            <a th:if="${currentPage > 1}"
               th:href="@{/user/list(page=1, size=${size})}">처음</a>

            <a th:if="${currentPage > 1}"
               th:href="@{/user/list(page=${currentPage - 1}, size=${size})}">이전</a>

<!--            <span th:each="pageNum : ${pageNumbers}">
                <a th:href="@{/user/list(page=${pageNum}, size=${size})}"
                    th:text="${pageNum}"
                    th:class="${pageNum == currentPage} ? 'active-page' : ''"></a>
            </span>-->
            <!-- 현재 페이지 기준 앞/뒤 페이지 한개만 추가하여 보기-->
            <span th:each="pageNum : ${pageNumbers}">
              <a th:if="${pageNum >= currentPage - 1} and ${pageNum <= currentPage + 1}"
                 th:href="@{/user/list(page=${pageNum}, size=${size})}"
                 th:text="${pageNum}"
                 th:class="${pageNum == currentPage} ? 'active-page' : ''"></a>
            </span>

            <a th:if="${currentPage < totalPages}"
               th:href="@{/user/list(page=${currentPage + 1}, size=${size})}">다음</a>

            <a th:if="${currentPage < totalPages}"
               th:href="@{/user/list(page=${totalPages}, size=${size})}">끝</a>
        </div>
        <div>
            <!--        <form id="registrationForm" method="post" action="/user/personnel_registration">
                        <input name="size" type="hidden" th:value="${size}" >
                        &lt;!&ndash;<input name="page" type="text" th:value="${page}" hidden="hidden">&ndash;&gt;
                        <input type="hidden" name="page" th:value="${currentPage}" />
                        <a href="#" class="button-link text-full" onclick="event.preventDefault();submitForm(event);">
                            등록하기
                        </a>
                        <a href="#" class="button-link text-short" onclick="event.preventDefault();submitForm(event);">
                            등록
                        </a>-->
            <a th:href="@{/user/personnel_registration}+'?page='+${currentPage}+'&size='+${size}" class="button-link text-full" style="margin-right: 5px;">
                등록
            </a>
            <!--<a href="@{/user/personnel_registration}+'?page='+${currentPage}+'&size='+${size}" class="button-link text-short" style="margin-right: 5px;">
                등록
            </a>-->
            <a href="#" class="button-link chang-d-btn text-full" onclick="submitFormIfValid();">삭제</a>
            <!--<a href="#" class="button-link chang-d-btn text-short" onclick="submitFormIfValid();">삭제</a>-->
        </div>
    </div>
</div>
</html>
