<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Personnel List</title>
</head>
<style>
    .pagination a {
        margin: 0 4px;
        text-decoration: none;
        color: #333;
    }
    .active-page {
        font-weight: bold;
        color: #007bff;
        text-decoration: underline;
    }
</style>
<body>
<div><a th:href="@{/user/personnel_registration}">Regisrate Reference Personnel</a></div>
<form method="get" action="/user/list">
    <label for="size">Row counter:</label>
    <select name="size" id="size" onchange="this.form.page.value='0'; this.form.submit();">
        <option th:value="5" th:selected="${size == 5}">5</option>
        <option th:value="10" th:selected="${size == 10}">10</option>
        <option th:value="20" th:selected="${size == 20}">20</option>
    </select>
    <input type="hidden" name="page" value="${currentPage}" />
</form>
<!--
<form method="get" action="/user/list">
    <label for="size">Row counter:</label>
    <input name="size" type="text" value="10" onchange="this.form.submit()">
</form>
-->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NATIONALITY</th>
        <th>NAME</th>
        <th>MIDDLE_NAME</th>
        <th>EMAIL</th>
        <th>CELL_PHONE</th>
        <th>CREATOR	</th>
        <th>CREATE_DATE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="personnel : ${referencePersonnels}">
        <td>
            <a th:if="${personnel.id != null}"
               th:href="@{/user/detail/{id}(id=${personnel.id})}"
               th:text="${personnel.id}"></a>
        </td>
        <td th:text="${personnel.nationality}"></td>
        <td>
            <a th:if="${personnel.id != null}"
               th:href="@{/user/detail/{id}(id=${personnel.id})}"
               th:text="${personnel.lastName + ' ' + personnel.firstName}"></a>
        </td>
        <td th:text="${personnel.middleName}"></td>
        <td th:text="${personnel.email}"></td>
        <td th:text="${personnel.cellPhone}"></td>
        <td th:text="${personnel.creator ?: '미지정'}"></td>
        <td th:text="${personnel.createDate.toString()}"></td>
    </tr>
    </tbody>
</table>

<div class="pagination">
    <a th:if="${currentPage > 0}"
       th:href="@{/user/list(page=0, size=${size})}">처음</a>

    <a th:if="${currentPage > 0}"
       th:href="@{/user/list(page=${currentPage - 1}, size=${size})}">이전</a>

    <span th:each="pageNum : ${pageNumbers}">
        <a th:href="@{/user/list(page=${pageNum}, size=${size})}"
           th:text="${pageNum + 1}"
           th:class="${pageNum == currentPage} ? 'active-page' : ''"></a>
    </span>
    <a th:if="${currentPage < totalPages - 1}"
       th:href="@{/user/list(page=${currentPage + 1}, size=${size})}">다음</a>

    <a th:if="${currentPage < totalPages - 1}"
       th:href="@{/user/list(page=${totalPages - 1}, size=${size})}">끝</a>
</div>
</body>
</html>