<html lang="kr" layout:decorate="~{patient/patient_layout}">
<div layout:fragment="content" class="container">
    <div><a th:href="@{/user/personnel_registration}">Regisrate Reference Personnel</a></div>
    <div th:if="${warningMessage}" class="alert alert-warning" th:text="${warningMessage}"></div>
    <h2>Reference Personnel Registration</h2>
<form th:action="@{|/create/reference_personal|}" method="post">
<table class="tbl_set">
    <thead></thead>
    <tbody>
        <tr>
            <td class="td_title">Nationality</td>
            <td><input name="nationality" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">First Name</td>
            <td><input name="firstName" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Last Name</td>
            <td><input name="lastName" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Middle Name</td>
            <td><input name="middleName" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Email Address</td>
            <td><input name="email" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Cell Phone number</td>
            <td><input name="cellPhone" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Company</td>
            <td><input name="companyName" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Department/Division</td>
            <td><input name="deptName" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Position/Rank</td>
            <td><input name="position" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Office Address</td>
            <td><input name="officeAddress" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Detail Address</td>
            <td><input name="officeDetailAddress" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Office Telephone Number</td>
            <td><input name="officeTel" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Office Facsimile Number</td>
            <td><input name="officeFax" type="text"></td>
        </tr>
        <tr>
            <td class="td_title">Company Homepage</td>
            <td><input name="companyWebsiteUrl" type="TEXT"></td>
            <!--<td><input name="companyWebsiteUrl" type="url"></td> please enter a url-->
        </tr>
        <tr>
            <td class="td_title">Note</td>
            <td><textarea name="note" id="note" rows="15"></textarea>
            </td>
        </tr>
        <tr>
            <td class="td_title" colspan="2"><input type="submit" value="Registration"></td>
        </tr>
    </tbody>
</table>
</form>
