body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.navbar-toggle {
	border: 1px solid gray;
	border-radius: 5px;
}
@media screen and (min-width: 990px) {
	.navbar-toggle {
		display: none;
	}
}
.menubox_2 {
	position: absolute;
	right: -200px;
	top: 101%;
	width: 200px;
	height: 100vh;
	border-left: 1px solid #dee2e6;
	background-color: #f8f9fa;
	transition: right 0.3s;
}
.menubox_2.active {
	right: 0;
}
.nav-link {
	padding: 10px 20px;
}
