// 노멀라이징
body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
#search_kw {
    font-size: 10px;
}

// 네비게이션
.navbar-toggle {
	border: 1px solid gray;
	border-radius: 5px;
}
@media screen and (min-width: 990px) {
	.navbar-toggle {
		display: none;
	}
	.menubox_2 {
	    display: none;
	}
}
.menubox_2 {
	position: absolute;
	right: -200px;
	top: 101%;
	width: 200px;
	height: 100vh;
	z-index: 1;
	border-left: 1px solid #dee2e6;
	background-color: #f8f9fa;
	transition: right 0.3s;
}
.menubox_2.active {
	right: 0;
}
.nav-link {
	padding: 10px 20px;
}

// 리스트 페이지
.container {
	width: 1920px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
}
.listbox {
	padding-top: 10px;
}
.search_box {
    display:flex;
    justify-content: end;
}
.search_btn {
    border: 1px solid #dee2e6;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.search_btn:hover {
    background-color: #dee2e6;
}
table {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
tr {
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
}
.list {
	justify-content: space-around;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
}
th {
	width: 100%;
	text-wrap: nowrap;
	font-size: 16px;
	border-right: 1px solid #dee2e6;
}
td {
	width: 80px;
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
	font-size: 12px;
}
.create_btn {
	position: absolute;
	top: 90%;
	right: 15%;
	text-wrap: nowrap;
}
@media screen and (max-width: 993px) {
	.mobile_hidden {
		display: none;
		width: 300px;
	}
}
@media screen and (max-width: 412px) {
    .create_btn {
        top: 90%;
        right: 5px;
    }
}

//상세 페이지
.main, .information {
	background-color: #f8f9fa;
	transition: .5s;
}
.main {
	position: relative;
}
.m-d-btn_box {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 10px;
    width: 100%;
    height: 80px;
}
.m-btn, .d-btn {
    padding: 5px 10px;
    margin-top: 20px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
.m-btn:hover {
    background-color: #dee2e6;
}
.d-btn:hover {
    background-color: #f54747;
}
.image {
	width: 300px;
	height: 400px;
	overflow: hidden;
	border: 1px solid gray;
	background-color: white;
	margin-left: 40px;
	margin-bottom: 20px;
}
.basic_info {
	position: absolute;
	top: 220px;
	left: 350px;
	width: 945px;
	height: 200px;
}
.info, .info_1 {
	padding: 10px;
	margin: 20px;
	border: 1px solid #dee2e6;
	background-color: white;
}
.info_1 {
	display: none;
}
strong {
    display: inline-block;
    width: 100px;
}
@media screen and (max-width: 1400px) {
	.basic_info {
		width: 760px;
	}
}

@media screen and (max-width: 1200px) {
	.basic_info {
		width: 580px;
	}
}

@media screen and (max-width: 993px) {
	.nursemain {
        display: flex;
        justify-content: center;
    }
    .basic_info {
        display: none;
    }
    .info_1 {
        display: block;
    }
    .image {
        margin-left: auto;
        margin-right: auto;
    }
    .name_list input {
        width: 100px;
    }
}


// 수정 페이지
.c_c_btn_box {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    align-items: center;
    width: 100%;
}
.c-btn, .cancel-btn {
    border-radius: 10px;
    border: 1px solid #dee2e6;
    color: #fff;
}
.c-btn {
    background-color: #0d6efd;
    width: 70px;
    height: 45px;
}
.cancel-btn {
    background-color: #dee2e6;
    padding: 10px 16px;
}

// 기본정보 등록
.main-table {
	position: relative;
	border: 1px solid #dee2e6;
	background-color: #f8f9fa;
	font-size: 14px;
}
label {
	width: 100px;
}
input {
    border: 1px solid #dee2e6;
}
.input-list {
    display: flex;
	padding: 10px;
	margin: 20px;
	border: 1px solid #dee2e6;
	background-color: white;
	font-size: 14px;
}
.name {
    margin-bottom: 5px;
}
@media (min-width: 768px) {
    .middle_name {
        display: block;
    }
    .save_btn_1 {
        display: block;
    }
    .save_btn_2 {
        display: none;
    }
}
@media (max-width: 767px) {
    .middle_name {
        display: none;
    }
    .save_btn_1 {
        display: none;
    }
    .save_btn_2 {
        display: block;
    }
}
.next_btn_box {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    margin-right: 20px;
}
.next_btn {
    padding: 8px 10px;
	border: 1px solid #dee2e6;
	border-radius: 10px;
	background-color: #0d6efd;
	color: #fff;
}

// 자격증 등록
.li_btn {
    display: flex;
    justify-content: flex-end;
}
.li_btn > a, .li_c_btn, .li_cancel_btn {
    padding: 5px 10px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
.li_btn > a:hover, .li_c_btn:hover, .li_cancel_btn:hover {
    background-color: #dee2e6;
}
.list_form {
    width:100%;
    max-width:500px;
    margin:auto;
    flex-direction: column;
}
.li_list_form {
    display:block;
    width:100%;
}

//메인 페이지
.hover-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.15) !important;
}

// 상세정보 등록 페이지
.save_btn_1 {
    display: block;
}