<html layout:decorate="~{nurse/nurse_layout}">
<div layout:fragment="content" class="container">
    <form class="info_form" th:action="@{|/nurse/info/${nurseDTO.nurseMain.id}|}" method="post">

        <h3 class="border-bottom mt-2" th:text="|${nurseDTO.nurseMain.firstName} ${nurseDTO.nurseMain.lastName}|"></h3>

        <!-- Main 정보 -->
        <div class="main card my-3 p-3">
            <h4 class="border-bottom py-2">간호사 상세페이지 입니다.</h4>

            <!-- 사진 -->
            <div class="image">
                <img th:if="${nurseDTO.nurseInformation?.picture != null}"
                     th:src="${nurseDTO.nurseInformation.picture}"
                     alt="nurse Image" />
                <span th:if="${nurseDTO.nurseInformation?.picture == null}">사진 없음</span>
            </div>

            <!-- 작성자 정보 -->
            <div class="d-flex align-items-start gap-2 mb-3">
                <label class="label-reform text-end flex-shrink-0">등록일시:</label>
                <span th:text="${#temporals.format(nurseDTO.nurseMain.createDate,'yyyy-MM-dd HH:mm') ?: '정보 없음'}" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">작성자:</label>
                <span th:text="${nurseDTO.nurseMain.writer ?: '등록자 정보 없음'}" style="width:300px;"></span>
            </div>

            <!-- 기본 정보 -->
            <div class="d-flex align-items-start gap-2 mb-3">
                <label class="label-reform text-end flex-shrink-0">부서:</label>
                <span th:text="${nurseDTO.nurseMain.dept ?: '부서 정보 없음'}" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">직급:</label>
                <span th:text="${nurseDTO.nurseMain.rank ?: '직급 정보 없음'}" style="width:300px;"></span>
            </div>

            <div class="d-flex align-items-start gap-2 mb-3">
                <label class="label-reform text-end flex-shrink-0">성명:</label>
                <span th:text="|${nurseDTO.nurseMain.firstName} ${nurseDTO.nurseMain.middleName ?: ''} ${nurseDTO.nurseMain.lastName}|" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">성별:</label>
                <span th:text="${nurseDTO.nurseMain.gender ?: '성별 정보 없음'}" style="width:300px;"></span>
            </div>

            <div class="d-flex align-items-start gap-2 mb-3">
                <label class="label-reform text-end flex-shrink-0">생년월일:</label>
                <span th:text="${nurseDTO.nurseMain.dateOfBirth ?: '생년월일 정보 없음'}" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">입사일:</label>
                <span th:text="${nurseDTO.nurseMain.hireDate ?: '입사일 정보 없음'}" style="width:300px;"></span>
            </div>

            <div class="d-flex align-items-start gap-2 mb-3">
                <label class="label-reform text-end flex-shrink-0">상태:</label>
                <span th:text="${nurseDTO.nurseMain.sts ?: '상태 정보 없음'}" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">근무형태:</label>
                <span th:text="${nurseDTO.nurseMain.wt ?: '근무형태 정보 없음'}" style="width:300px;"></span>
            </div>

            <!-- 연락처 정보 -->
            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0">전화번호:</label>
                <span th:text="${nurseDTO.nurseInformation.tel ?: '전화번호 없음'}" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">이메일:</label>
                <span th:text="${nurseDTO.nurseInformation.email ?: '이메일 없음'}" style="width:300px;"></span>
            </div>

            <!-- 비상연락처 정보 -->
            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0">비상연락처:</label>
                <span th:text="${nurseDTO.nurseInformation.emgcCntc ?: '비상연락처 없음'}" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">관계:</label>
                <span th:text="${nurseDTO.nurseInformation.emgcRel ?: '관계 정보 없음'}" style="width:300px;"></span>
            </div>

            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0">성함:</label>
                <span th:text="|${nurseDTO.nurseInformation.emgcFName ?: ''} ${nurseDTO.nurseInformation.emgcMName ?: ''} ${nurseDTO.nurseInformation.emgcLName ?: ''}|" style="width:70%;"></span>
            </div>

            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0">비고:</label>
                <span th:text="${nurseDTO.nurseInformation.emgcNote ?: '비고 없음'}" style="width:70%;"></span>
            </div>

            <!-- 주소 정보 -->
            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0">우편번호:</label>
                <span th:text="${nurseDTO.nurseInformation.pcd ?: '우편번호 없음'}" style="width:70%;"></span>
            </div>

            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0">기본주소:</label>
                <span th:text="${nurseDTO.nurseInformation.defAdd ?: '기본주소 없음'}" style="width:70%;"></span>
            </div>

            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0" >상세주소:</label>
                <span th:text="${nurseDTO.nurseInformation.detAdd ?: '상세주소 없음'}" style="width:70%;"></span>
            </div>

            <!-- 전문 정보 -->
            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0">간호사 자격증번호:</label>
                <span th:text="${nurseDTO.nurseInformation.rnNo ?: '자격증번호 없음'}" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">최종학력:</label>
                <span th:text="${nurseDTO.nurseInformation.edbc ?: '최종학력 정보 없음'}" style="width:300px;"></span>
            </div>

            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0">졸업날짜:</label>
                <span th:text="${nurseDTO.nurseInformation.gradDate ?: '졸업날짜 정보 없음'}" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">외국어:</label>
                <span th:text="${nurseDTO.nurseInformation.fl ?: '외국어 정보 없음'}" style="width:300px;"></span>
            </div>

            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0">병역:</label>
                <span th:text="${nurseDTO.nurseInformation.ms ?: '병역 정보 없음'}" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">국적:</label>
                <span th:text="${nurseDTO.nurseInformation.natn ?: '국적 정보 없음'}" style="width:300px;"></span>
            </div>

            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0">장애여부:</label>
                <span th:text="${nurseDTO.nurseInformation.dss ?: '장애여부 정보 없음'}" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">경력:</label>
                <span th:text="${nurseDTO.nurseInformation.carr ?: '경력 정보 없음'}" style="width:300px;"></span>
            </div>

            <!-- 수정자 정보 -->
            <div class="d-flex align-items-start gap-2 mb-3">
                <label class="label-reform text-end flex-shrink-0">수정자:</label>
                <span th:text="${nurseDTO.nurseMain.modifier ?: '정보 없음'}" style="width:300px;"></span>
                <label class="label-reform text-end flex-shrink-0">수정시간:</label>
                <span th:text="${#temporals.format(nurseDTO.nurseMain.modifyDate,'yyyy-MM-dd HH:mm') ?: '정보 없음'}" style="width:300px;"></span>
            </div>

            <!-- 비고 -->
            <div class="d-flex align-items-start gap-2 mb-3" th:if="${nurseDTO.nurseInformation != null}">
                <label class="label-reform text-end flex-shrink-0">비고:</label>
                <span th:text="${nurseDTO.nurseInformation.note ?: '비고 없음'}" style="width:70%;"></span>
            </div>
        </div>
        <div class="m-d-btn">
            <div class="m-d-btn_box">
                <button type="button" class="button-link" th:onclick="'location.href=\'' + @{/nurse(page=${param.page}, size=${param.size})} + '\';'">목록</button>
                <a th:href="@{|/nurse/modify/${nurseDTO.nurseMain.id}|}" class="m-btn">수정</a>
                <a href="javascript:void(0);" th:data-uri="@{|/nurse/delete/${nurseDTO.nurseMain.id}|}" class="d-btn" onclick="window.location.href=this.getAttribute('data-uri')">삭제</a>
            </div>
        </div>
    </form>

    <!-- License 정보 -->
    <div class="license card my-3 p-3">
        <h3 class="border-bottom py-2">자격증 정보</h3>

        <div th:if="${#lists.isEmpty(nurseDTO.licenseList)}" class="pb-2" id="noLicenseMsg">
            등록된 자격증이 없습니다.
        </div>
        <div class="text-end li_btn" id="addLicenseBtnBox">
            <a href="javascript:void(0);" id="showLicenseFormBtn" class="l-btn m-3 my-3 mb-3">자격증 추가</a>
        </div>

        <!-- 자격증이 있을 때 카드로 표시 -->
        <div th:if="${!#lists.isEmpty(nurseDTO.licenseList)}">
            <div class="row" th:each="license : ${nurseDTO.licenseList}">
                <div class="w-100 col-md-4 mb-3 mt-3" th:id="'license-' + ${license.id}">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body ms-3 p-3">
                            <p><strong class="txt">자격증:</strong><span th:text="${license.li}"></span></p>
                            <p><strong class="txt">번호:</strong><span th:text="${license.licenseNo}"></span></p>
                            <p><strong class="txt">발급일:</strong><span th:text="${license.issueDate}"></span></p>
                            <p><strong class="txt">만료일:</strong><span th:text="${license.expiryDate}"></span></p>
                            <p><strong class="txt">비고:</strong><span th:text="${license.note}"></span></p>
                            <a th:href="@{|/nurse/license/delete/${license.id}/${nurseDTO.nurseMain.id}|}" class="btn btn-danger btn-sm mb-3">삭제</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 등록폼 (처음 숨김) -->
        <form class="list_form" th:action="@{|/nurse/license/${nurseDTO.nurseMain.id}|}" method="post" id="newLicenseForm" style="display:none;">
            <div class="mb-3 li_list_form">
                <label for="li" class="form-label">자격증명</label>
                <input type="text" class="form-control" id="li" name="li" placeholder="자격증명" required style="width:100%;">
            </div>

            <div class="mb-3 li_list_form">
                <label for="licenseNo" class="form-label">번호</label>
                <input type="text" class="form-control" id="licenseNo" name="licenseNo" placeholder="자격증 번호" required style="width:100%;">
            </div>

            <div class="mb-3 li_list_form">
                <label for="issueDate" class="form-label">발급일</label>
                <input type="text" class="form-control" id="issueDate" name="issueDate" placeholder="YYYYMMDD" style="width:100%;">
            </div>

            <div class="mb-3 li_list_form">
                <label for="expiryDate" class="form-label">만료일</label>
                <input type="text" class="form-control" id="expiryDate" name="expiryDate" placeholder="YYYYMMDD" style="width:100%;">
            </div>

            <div class="mb-3 li_list_form">
                <label for="note" class="form-label">비고</label>
                <input type="text" class="form-control" id="note" name="note" placeholder="비고" style="width:100%;">
            </div>

            <div class="text-end mt-3 mb-2">
                <button type="submit" class="li_c_btn">추가</button>
                <button type="button" id="cancelLicenseFormBtn" class="li_cancel_btn">취소</button>
            </div>
        </form>
    </div>
</div>