<html layout:decorate="~{nurse/nurse_layout}">
<div layout:fragment="content" class="container">
    <h2 class="listbox">Nurse List <span class="sub_title">간호사 리스트</span> </h2>

<div class="d-flex flex-wrap justify-content-between align-items-center">
    <form  method="get" action="/nurse" class="size_bar d-flex align-items-center mb-2 mb-md-0">
        <div class="d-flex align-items-center">
            <strong class="me-1">등록 건수:</strong> <span th:text="${totalCount}"></span>명 /
            <strong class="mx-1">현재 페이지:</strong> <span th:text="${currentPage + 1}"></span> /
            <strong class="mx-1">페이지당 행 수:</strong>
            <select name="size" id="size" onchange="this.form.submit();">
                <option th:value="5" th:selected="${size == 5}">5</option>
                <option th:value="10" th:selected="${size == 10}">10</option>
                <option th:value="20" th:selected="${size == 20}">20</option>
            </select>
            <input type="hidden" name="page" value="1" />
        </div>
    </form>

    <form method="get" action="/nurse" class="d-flex align-items-center">
        <div class="search_box row my-3">
            <div>
                <div class="input-group">
                    <span class="input-text">이름/부서/직급/상태/근무형태/작성자/전화번호/수정자만 검색 가능합니다.</span>
                    <input type="text" id="search_kw" class="form-control" th:value="${kw}" name="kw"/>
                    <button class="search_btn" type="submit" id="btn_search">검색</button>
                </div>
            </div>
        </div>
    </form>
</div>

    <!-- 삭제를 위한 숨겨진 폼 -->
    <form id="deleteForm" method="post" action="/nurse/deleteMultiple" style="display: none;">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    </form>

    <!-- CSRF 메타 -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <table class="table table-hover card">
        <thead class="table-light">
        <tr class="list text-center">
            <th class="chang-checkbox-column"><input type="checkbox" id="checkAll" /></th>
            <th>번호</th>
            <th>부서</th>
            <th>직급</th>
            <th>성명</th>
            <th class="mobile_hidden">성별</th>
            <th class="mobile_hidden">생년월일</th>
            <th class="mobile_hidden">입사일</th>
            <th>상태</th>
            <th class="mobile_hidden">근무형태</th>
            <th>작성자</th>
            <th class="mobile_hidden">작성일시</th>
            <th class="mobile_hidden">수정자</th>
            <th class="mobile_hidden">수정일시</th>
        </tr>
        </thead>

        <tbody class="text-center">
        <tr class="text-center" th:each="nurseMain, loop : ${paging}">
            <td class="chang-checkbox-column"><input type="checkbox" class="nurse-checkbox" name="checkedIds" th:value="${nurseMain.id}" /></td>
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td th:text="${nurseMain.dept}"></td>
            <td th:text="${nurseMain.rank}"></td>
            <td>
                <a th:href="@{/nurse/info/{id}(id=${nurseMain.id})}" class="name_hover"
                   th:text="|${nurseMain.firstName} ${nurseMain.middleName != null ? nurseMain.middleName + ' ' : ''}${nurseMain.lastName}|">
                </a>
            </td>
            <td class="mobile_hidden" th:text="${nurseMain.gender}"></td>
            <td class="mobile_hidden" th:text="${nurseMain.dateOfBirth}"></td>
            <td class="mobile_hidden" th:text="${nurseMain.hireDate}"></td>
            <td th:text="${nurseMain.sts}"></td>
            <td class="mobile_hidden" th:text="${nurseMain.wt}"></td>
            <td th:text="${nurseMain.writer}"></td>
            <td class="mobile_hidden" th:text="${#temporals.format(nurseMain.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td class="mobile_hidden" th:text="${nurseMain.modifier}"></td>
            <td class="mobile_hidden" th:text="${#temporals.format(nurseMain.modifyDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <div class="page-navigation">
        <div class="pagination">
            <a th:if="${currentPage > 1}" th:href="@{|/nurse?page=${currentPage - 1}&size=${size}|}">이전</a>

            <a th:each="pageNum : ${pageNumbers}"
               th:if="${pageNum >= currentPage-3 and pageNum <= currentPage+3}"
               th:href="@{|/nurse?page=${pageNum}&size=${size}|}"
               th:text="${pageNum + 1}"
               th:class="${(pageNum == currentPage) ? 'active-page' : ''}"></a>

            <a th:if="${currentPage < totalPages}" th:href="@{|/nurse?page=${currentPage + 1}&size=${size}|}">다음</a>
        </div>
        <div class="create">
            <a th:href="@{/nurse/create}" class="button-link">등록</a>
            <a th:href="@{/nurse/history}" class="button-link">수정내역</a>
            <button type="button" class="d-btn" id="deleteSelectedBtn">선택 삭제</button>
        </div>
    </div>
    <!-- 페이징처리 끝 -->

    <!-- 검색폼 숨김 -->
    <form th:action="@{/nurse}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>
</html>
