<form th:action="@{/nurse/information/{nurseId}(nurseId=${nurseInfo.id})}" method="post">
    <h1 th:text="${nurseInfo.firstName} + ' ' + ${nurseInfo.lastName}"></h1>
<!--    <img th:src="${nurseInfo.picture != null ? nurseInfo.picture : '/images/default.jpg'}" alt="nurse Image"/>-->

    <div class="nursemain">
        <p>성함: <span th:text="${nurseInfo.firstName} + ' ' + (${nurseInfo.middleName} != null ? nurseInfo.middleName + ' ' : '') + nurseInfo.lastName"></span></p>
        <p>부서: <span th:text="${nurseInfo.dept != null ? nurseInfo.dept : '-'}"></span></p>
        <p>직급: <span th:text="${nurseInfo.rank != null ? nurseInfo.rank : '-'}"></span></p>
        <p>성별: <span th:text="${nurseInfo.gender != null ? nurseInfo.gender : '-'}"></span></p>
        <p>생년월일: <span th:text="${nurseInfo.dateOfBirth != null ? nurseInfo.dateOfBirth : '-'}"></span></p>
        <p>입사일: <span th:text="${nurseInfo.hireDate != null ? nurseInfo.hireDate : '-'}"></span></p>
        <p>상태: <span th:text="${nurseInfo.sts != null ? nurseInfo.sts : '-'}"></span></p>
        <p>근무형태: <span th:text="${nurseInfo.wt != null ? nurseInfo.wt : '-'}"></span></p>
        <p>작성자: <span th:text="${nurseInfo.writer != null ? nurseInfo.writer : '-'}"></span></p>
        <p>작성시간: <span th:text="${nurseInfo.createDate != null ? nurseInfo.createDate : '-'}"></span></p>
        <p>수정자: <span th:text="${nurseInfo.modifier != null ? nurseInfo.modifier : '-'}"></span></p>
        <p>수정시간: <span th:text="${nurseInfo.modifyDate != null ? nurseInfo.modifyDate : '-'}"></span></p>
    </div>

    <div class="nurseinformation">
        <p>서브 성함: <span th:text="${nurseInfo.firstName != null ? nurseInfo.firstName + ' ' + (nurseInfo.middleName != null ? nurseInfo.middleName + ' ' : '') + (nurseInfo.lastName != null ? nurseInfo.lastName : '') : '정보 없음'}"></span></p>
        <p>전화번호: <span th:text="${nurseInfo.tel != null ? nurseInfo.tel : '-'}"></span></p>
        <p>비상연락처: <span th:text="${nurseInfo.emgcCntc != null ? nurseInfo.emgcCntc : '-'}"></span></p>
        <p>비상연락처 주인: <span th:text="${(nurseInfo.emgcFName != null ? nurseInfo.emgcFName : '') + ' ' + (nurseInfo.emgcMName != null ? nurseInfo.emgcMName : '') + ' ' + (nurseInfo.emgcLName != null ? nurseInfo.emgcLName : '')}"></span></p>
        <p>비상연락처 관계: <span th:text="${nurseInfo.emgcRel != null ? nurseInfo.emgcRel : '-'}"></span></p>
        <p>비상연락처 비고: <span th:text="${nurseInfo.emgcNote != null ? nurseInfo.emgcNote : '-'}"></span></p>
        <p>이메일: <span th:text="${nurseInfo.email != null ? nurseInfo.email : '-'}"></span></p>
        <p>우편번호: <span th:text="${nurseInfo.pcd != null ? nurseInfo.pcd : '-'}"></span></p>
        <p>기본주소: <span th:text="${nurseInfo.defAdd != null ? nurseInfo.defAdd : '-'}"></span></p>
        <p>상세주소: <span th:text="${nurseInfo.detAdd != null ? nurseInfo.detAdd : '-'}"></span></p>
        <p>간호사 자격증 번호: <span th:text="${nurseInfo.rnNo != null ? nurseInfo.rnNo : '-'}"></span></p>
        <p>최종학력: <span th:text="${nurseInfo.edbc != null ? nurseInfo.edbc : '-'}"></span></p>
        <p>졸업날짜: <span th:text="${nurseInfo.gradDate != null ? nurseInfo.gradDate : '-'}"></span></p>
        <p>외국어: <span th:text="${nurseInfo.fl != null ? nurseInfo.fl : '-'}"></span></p>
        <p>병역: <span th:text="${nurseInfo.ms != null ? nurseInfo.ms : '-'}"></span></p>
        <p>국적: <span th:text="${nurseInfo.natn != null ? nurseInfo.natn : '-'}"></span></p>
        <p>장애여부: <span th:text="${nurseInfo.dss != null ? nurseInfo.dss : '-'}"></span></p>
        <p>경력: <span th:text="${nurseInfo.carr != null ? nurseInfo.carr : '-'}"></span></p>
        <p>비고: <span th:text="${nurseInfo.note != null ? nurseInfo.note : '-'}"></span></p>
    </div>
</form>