<html layout:decorate="~{nurse/nurse_layout}">
  <div layout:fragment="content" class="container my-3">
    <h3 class="border-bottom mt-2">신규 간호사 등록 - 상세 정보</h3>

    <form th:action="@{|/nurse/create/info|}" th:object="${nurseInformation}" method="post" enctype="multipart/form-data">
      <div class="card my-3 p-3">
        <h4 class="border-bottom py-2">신규 간호사의 상세한 정보를 적는 페이지 입니다.</h4>
        <div class="input-list name_list">
          <label>예명:</label>
          <input class="name" type="text" th:field="*{firstName}" maxlength="50" placeholder="이름"/>
          <input class="name" type="text" th:field="*{lastName}" maxlength="50" placeholder="성"/>
          <input class="name middle_name" type="text" th:field="*{middleName}" maxlength="50" placeholder="중간이름"/>
        </div>

        <h4 class="border-bottom py-2">연락처</h4>
        <div class="input-list">
          <label>전화번호:</label>
          <input type="text" th:field="*{tel}" maxlength="25" placeholder="010-1234-5678" required />
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>
        <div class="input-list">
          <label>비상연락처:</label>
          <input type="text" th:field="*{emgcCntc}" maxlength="25" placeholder="010-1234-5678" required />
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>
        <div class="input-list name_list">
          <label>성명:</label>
          <input class="name" type="text" th:field="*{emgcFName}" maxlength="50" placeholder="이름" required />
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
          <input class="name" type="text" th:field="*{emgcLName}" maxlength="50" placeholder="성" required />
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
          <input class="name middle_name" type="text" th:field="*{emgcMName}" maxlength="50" placeholder="중간이름"/>
        </div>
        <div class="input-list">
          <label>관계:</label>
          <input type="text" th:field="*{emgcRel}" maxlength="10" required />
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>
        <div class="input-list">
          <label>비고:</label>
          <input type="text" th:field="*{emgcNote}" maxlength="250"/>
        </div>

        <h4 class="border-bottom py-2">주소 / 이메일</h4>
        <div class="input-list">
          <label>이메일:</label>
          <input type="text" th:field="*{email}" maxlength="250" required />
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>

        <div class="input-list">
          <label>우편번호:</label>
          <input type="text" th:field="*{pcd}" id="postcode" maxlength="10" required/>
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>

        <div class="input-list">
          <label>주소:</label>
          <div style="gap:8px; align-items:center; flex-direction:row;">
            <input type="text" th:field="*{defAdd}" id="addr1" maxlength="250" required/>
            <button type="button" class="button-link" onclick="openRoadPopup()">도로명 검색</button>
            <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
          </div>
        </div>

        <div class="input-list">
          <label>상세주소:</label>
          <input type="text" th:field="*{detAdd}" id="addr2" maxlength="250"/>
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>

        <h4 class="border-bottom py-2">자격 / 학력</h4>
        <div class="input-list">
          <label>간호사 자격증 번호:</label>
          <input type="text" th:field="*{rnNo}" maxlength="20"  required />
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>

        <div class="input-list">
          <label>최종학력:</label>
          <input type="text" th:field="*{edbc}" maxlength="50" required/>
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>

        <div class="input-list">
          <label>졸업날짜:</label>
          <input type="text" th:field="*{gradDate}" maxlength="8" class="numeric-only" required />
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>

        <div class="input-list">
          <label>외국어:</label>
          <input type="text" th:field="*{fl}" maxlength="250"/>
        </div>

        <div class="input-list">
          <label>병역:</label>
          <div class="select-wrapper" data-role="selectbox">
            <button type="button" class="toggle_btn">
              병역 선택
              <span class="material-symbols-rounded">arrow_drop_down</span>
            </button>
            <ul class="hide selectbox_option">
              <li><button type="button" class="option-btn" data-value="군필">군필</button></li>
              <li><button type="button" class="option-btn" data-value="미필">미필</button></li>
              <li><button type="button" class="option-btn" data-value="면제">면제</button></li>
            </ul>
            <!-- 실제 form 전송용 -->
            <input type="hidden" name="ms" required/>
          </div>
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>

        <div class="input-list">
          <label>국적</label>
          <div>
            <span id="nationalityDisplay" th:text="*{natn} ?: '-'">-</span>
            <button type="button" class="button-link" style="margin-left:8px;" onclick="openCountryPopup()">국적 검색</button>
          </div>
          <input type="hidden" th:field="*{natn}" id="nationalityInput"/>
        </div>

        <div class="input-list">
          <label>장애여부:</label>
          <div class="select-wrapper" data-role="selectbox">
            <button type="button" class="toggle_btn">
              장애여부 선택
              <span class="material-symbols-rounded">arrow_drop_down</span>
            </button>
            <ul class="hide selectbox_option">
              <li><button type="button" class="option-btn" data-value="Y">유</button></li>
              <li><button type="button" class="option-btn" data-value="N">무</button></li>
            </ul>
            <!-- 실제 form 전송용 -->
            <input type="hidden" name="dss" required/>
          </div>
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>

        <div class="input-list">
          <label>경력(개월):</label>
          <input type="text" th:field="*{carr}" maxlength="5" class="numeric-only" required/>
          <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        </div>

        <h4 class="border-bottom py-2">사진 / 비고</h4>
        <div class="input-list">
          <label>사진:</label>
          <input type="file" id="pictureFile" name="pictureFile" accept="image/*" />

          <div class="mt-2">
            <img id="picturePreview"
                 src="/images/default.png"
                 alt="사진 미리보기"
                 style="max-width:150px; max-height:150px; display:block;" />
          </div>
        </div>

        <div class="input-list">
          <label>비고:</label>
          <textarea name="note" class="form-control" type="text" maxlength="250" th:field="*{note}"></textarea>
        </div>
      </div>

      <div class="pt-2 d-flex justify-content-end">
        <button class="save_btn button-link" type="button">등록</button>
      </div>
    </form>
  </div>
</html>