<html layout:decorate="~{nurse/nurse_layout}">
<div layout:fragment="content" class="container my-3">
  <h3 class="border-bottom py-2">신규 간호사 등록 - 기본 정보</h3>

  <form th:action="@{/nurse/create}" th:object="${nurseMain}" method="post">
    <div class="main-table card my-3 p-3">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <h4 class="border-bottom py-2">신규 간호사의 기본적인 정보를 적는 페이지 입니다.</h4>
      <div class="input-list">
        <label>부서:</label>
        <div class="select-wrapper" data-role="selectbox">
          <button type="button" class="toggle_btn">
            부서 선택
            <span class="material-symbols-rounded">arrow_drop_down</span>
          </button>
          <ul class="hide selectbox_option">
            <li><button type="button" class="option-btn" data-value="마취통증의학과">마취통증의학과</button></li>
            <li><button type="button" class="option-btn" data-value="치과">치과</button></li>
            <li><button type="button" class="option-btn" data-value="피부과">피부과</button></li>
            <li><button type="button" class="option-btn" data-value="응급의학과">응급의학과</button></li>
            <li><button type="button" class="option-btn" data-value="이비인후과">이비인후과</button></li>
            <li><button type="button" class="option-btn" data-value="안과">안과</button></li>
            <li><button type="button" class="option-btn" data-value="가정의학과">가정의학과</button></li>
            <li><button type="button" class="option-btn" data-value="외과">외과</button></li>
            <li><button type="button" class="option-btn" data-value="내과">내과</button></li>
            <li><button type="button" class="option-btn" data-value="진단검사의학과">진단검사의학과</button></li>
            <li><button type="button" class="option-btn" data-value="핵의학과">핵의학과</button></li>
            <li><button type="button" class="option-btn" data-value="신경과">신경과</button></li>
            <li><button type="button" class="option-btn" data-value="신경외과">신경외과</button></li>
            <li><button type="button" class="option-btn" data-value="산부인과">산부인과</button></li>
            <li><button type="button" class="option-btn" data-value="직업환경의학과">직업환경의학과</button></li>
            <li><button type="button" class="option-btn" data-value="정형외과">정형외과</button></li>
            <li><button type="button" class="option-btn" data-value="병리과">병리과</button></li><li><button type="button" class="option-btn" data-value="nurse">간호사</button></li>
            <li><button type="button" class="option-btn" data-value="소아청소년과">소아청소년과</button></li>
            <li><button type="button" class="option-btn" data-value="예방의학과">예방의학과</button></li>
            <li><button type="button" class="option-btn" data-value="성형외과">성형외과</button></li>
            <li><button type="button" class="option-btn" data-value="정신건강의학과">정신건강의학과</button></li>
            <li><button type="button" class="option-btn" data-value="방사선과">방사선과</button></li><li><button type="button" class="option-btn" data-value="nurse">간호사</button></li>
            <li><button type="button" class="option-btn" data-value="영상의학과">영상의학과</button></li>
            <li><button type="button" class="option-btn" data-value="재활의학과">재활의학과</button></li>
            <li><button type="button" class="option-btn" data-value="방사선종양학과">방사선종양학과</button></li>
            <li><button type="button" class="option-btn" data-value="결핵과">결핵과</button></li>
            <li><button type="button" class="option-btn" data-value="흉부외과">흉부외과</button></li>
            <li><button type="button" class="option-btn" data-value="비뇨기과">비뇨기과</button></li>
            <li><button type="button" class="option-btn" data-value="비뇨의학과">비뇨의학과</button></li>
          </ul>
          <!-- 실제 form 전송용 -->
          <input type="hidden" name="dept" required>
        </div>
        <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
      </div>
      <div class="input-list">
        <label>직급:</label>
        <div class="select-wrapper" data-role="selectbox">
          <button type="button" class="toggle_btn">
            직급 선택
            <span class="material-symbols-rounded">arrow_drop_down</span>
          </button>
          <ul class="hide selectbox_option">
            <li><button type="button" class="option-btn" data-value="간호부장">간호부장</button></li>
            <li><button type="button" class="option-btn" data-value="수간호사">수간호사</button></li>
            <li><button type="button" class="option-btn" data-value="수간호장">수간호장</button></li>
            <li><button type="button" class="option-btn" data-value="책임">책임간호사</button></li>
            <li><button type="button" class="option-btn" data-value="주임">주임간호사</button></li>
            <li><button type="button" class="option-btn" data-value="일반">일반간호사</button></li>
            <li><button type="button" class="option-btn" data-value="신규">신규간호사</button></li>
            <li><button type="button" class="option-btn" data-value="실습생">간호학생(실습생)</button></li>
          </ul>
          <!-- 실제 form 전송용 -->
          <input type="hidden" name="rank" required/>
        </div>
        <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
      </div>
      <div class="input-list name_list">
        <label class="name">성명:</label>
        <input type="text" th:field="*{firstName}" placeholder="이름" maxlength="50" required />
        <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        <input type="text" th:field="*{lastName}" placeholder="성" maxlength="50" required />
        <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
        <input class="middle_name" type="text" th:field="*{middleName}" maxlength="50" placeholder="중간이름" />
      </div>
      <div class="input-list">
        <label>성별:</label>
        <div class="form-check">
          <input type="radio" class="form-check-input ms-1" id="validationFormCheck2" value="M" name="gender" required>
          <label class="form-check-label" for="validationFormCheck2" style="width: auto;">남</label>
        </div>
        <div class="form-check mb-3">
          <input type="radio" class="form-check-input ms-2" id="validationFormCheck3" value="F" name="gender" required>
          <label class="form-check-label" for="validationFormCheck3" style="width: auto;">여</label>
        </div>
        <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
      </div>
      <div class="input-list">
        <label>생년월일:</label>
        <input type="number" th:field="*{dateOfBirth}" placeholder="YYYYMMDD" maxlength="8" oninput="numberMaxLength(this);" required />
        <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
      </div>
      <div class="input-list">
        <label>입사일:</label>
        <input type="number" th:field="*{hireDate}" placeholder="YYYYMMDD" maxlength="8" oninput="numberMaxLength(this);" required />
        <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
      </div>
      <div class="input-list">
        <label>상태:</label>
        <input type="text" th:field="*{sts}" placeholder="재직/휴직/퇴직 등" maxlength="3" required />
        <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
      </div>
      <div class="input-list">
        <label>근무형태:</label>
        <input type="text" th:field="*{wt}" placeholder="정규직/계약직/파트타임 등" maxlength="4" required />
        <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
      </div>
      <div class="input-list">
        <label>작성자:</label>
        <input type="text" th:field="*{writer}" maxlength="250" required />
        <span class="material-symbols-outlined align-text-top" style="color: red; font-size: 8px; line-height: 8px; margin-left: 2px;">emergency</span>
      </div>
    </div>
    <div class="next_btn_box">
      <button class="button-link" type="button">다음</button>
      <button type="reset" class="button-link">초기화</button>
      <button type="button" class="button-link" th:onclick="'location.href=\'' + @{/nurse(page=${param.page}, size=${param.size})} + '\';'">목록</button>
    </div>
  </form>
</div>
</html>