<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer sample</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/common_chang.css}">
</head>
<body>-->
<div th:fragment="footerFragment" class="chang-footer">
 <!--<div class="chang-footer">-->
   <section class="chang-footer-inforamtion">
        <ul class="chang-inner-ul-menu">
            <li>웹이용약관 | 개인정보처리방침 | 고객의 소리 | 데이터 심의위원회</li>
            <li>대표전화 : 1599-0000 말로거는전화 : 1606 + "HPMS"이라고 말하세요!</li>
            <li>(35015)대전광역시 중구 문화로 282 충남땡땡병원 사업자번호 : 305-82-08811</li>
            <li>&#169; HPMS CO., LTD ALL RIGHTS RESERVED</li>
        </ul>
    </section>
    <section class="chang-footer-logo delete-button">
        <img th:src="@{/img/_HPMS_.png}" alt="HPMS logo Image" class="responsive-logo"/>
    </section>
<!--</div>-->
</div>