<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer sample</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/common_chang.css}">
</head>
<body>-->
<div th:fragment="footerFragment" class="footer_fixed_bottom">
    <table class="footer-custom-table">
        <tr><!--상단 여백-->
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr><!--내용-->
            <td><!--여백--></td>
            <td>
                <ul><!--
                    <li>
                        <ul class="inner-ul-menu">
                            <li>웹이용약관</li>
                            <li>개인정보처리방침</li>
                            <li>고객의 소리</li>
                            <li>데이터 심의위원회</li>
                        </ul>
                    </li>-->
                    <li>웹이용약관 | 개인정보처리방침 | 고객의 소리 | 데이터 심의위원회</li>
                    <li>대표전화 : 1599-0000 말로거는전화 : 1606 + "HPMS"이라고 말하세요!</li>
                    <li>(35015)대전광역시 중구 문화로 282 충남대학교병원 사업자번호 : 305-82-08811</li>
                    <li>&#169; HPMS CO., LTD ALL RIGHTS RESERVED</li>
                </ul>
            </td>
            <td>
                <img th:src="@{/img/_HPMS_.png}" alt="HPMS logo Image" style="width:80px; height:auto;" />
            </td>
            <td><!--여백--></td>
        </tr>
        <tr><!--하단 여백-->
            <!--<td colspan="4"></td>-->
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>